<!doctype html>
<html>
  <head>
    <title>TODO site</title>
  </head>
  <body ng-app="todo.site" ng-controller="TodoController as $ctrl">
    <div class="w3-row-padding w3-margin-top">
      <div class="w3-half">
        <div class="w3-card">
          <header class="w3-container w3-khaki">
            <center>
              <h1>TODO</h1>
            </center>
          </header>
          <div class="w3-container">
            <form>
              <textarea></textarea>
            </form>
          </div>
          <footer class="w3-container w3-khaki">
            <br />
            <center>
              <div class="w3-btn-group w3-border w3-show-inline-block">
                <button class="w3-btn w3-sand w3-hover-black" ng-click="$ctrl.save()">Save</button>
                <button class="w3-btn w3-sand w3-hover-black" ng-click="$ctrl.load()">Load</button>
              </div>
            </center>
            <br />
          </footer>
        </div>
      </div>
      <script src="bundle.js"></script>
  </body>
</html>
